# Pandas Tasks

In the task below, you will practice what you have learnt in the pandas tutorial.

## Task 1

#### Question 1. Identify two ways of creating a pandas DataFrame and create a dataframe with ten columns and twenty rows for each way

In [11]:
# Two ways of creating DataFrame - Using List of lists and Dictionary

import pandas as pd

#Creating DataFrame using list of lists
Students_record1 = pd.DataFrame([
                    ["Glory", "Odeyemi", "Female", 20, "Science", "Ekiti", "Christianity", "Mathematics", 4.8, "Excellent"],
                    ["Blessing", "Tony", "Female", 22, "Arts", "Lagos", "Christianity", "Literature", 3.5, "Good"],
                    ["Victoria", "Yale", "Female", 24, "Science", "Adamawa", "Christianity", "Physics", 4.0, "Very Good"],
                    ["Ibrahim", "Babatunde", "Male", 21, "Commercial", "Ondo", "Islamic", "Accounting", 3.0, "Good"],
                    ["Liberty", "John", "Male", 18, "Science", "Edo", "Christianity", "Chemistry", 4.9, "Excellent"],
                    ["Genevieve", "Tony", "Female", 20, "Commercial", "Lagos", "Christianity", "Commerce", 4.8, "Excellent"],
                    ["Tolu", "Ogunbanjo", "Male", 20, "Arts", "Ogun", "Islamic", "CRS", 2.8, "Good"],
                    ["Ayomide", "Adejola", "Male", 20, "Science", "Ogun", "Christianity", "Computer", 4.4, "Very Good"],
                    ["Pelumi", "Ajuwon", "Female", 21, "Science", "Oyo", "Christianity", "English", 4.3, "Very Good"],
                    ["Timileyin", "Owoseni", "Female", 21, "Science", "Ondo", "Christianity", "Biology", 3.8, "Very Good"],
                    ["Shalom", "Ogunsola", "Male", 20, "Science", "Oyo", "Christianity", "Computer", 2.8, "Good"],
                    ["Herodion", "Momoh", "Male", 20, "Science", "Delta", "Christianity", "Computer", 4.0, "Very Good"],
                    ["Praise", "Oluwafemi", "Female", 22, "Arts", "Ekiti", "Islamic", "Literature", 2.2, "Fair"],
                    ["Bolu", "Prince", "Male", 23, "Commercial", "Osun", "Christianity", "Commerce", 1.8, "Poor"],
                    ["Fortune", "Lawrence", "Female", 20, "Arts", "Abia", "Christianity", "History", 2.7, "Good"],
                    ["Happiness", "Charles", "Female", 22, "Commercial", "Akwa-Ibom", "Christianity", "Government", 3.3, "Good"],
                    ["Tosin", "Fashina", "Male", 20, "Science", "Osun", "Islamic", "Mathematics", 3.6, "Very Good"],
                    ["Janet", "Francis", "Female", 24, "Arts", "Jos", "Islamic", "Government", 4.5, "Very Good"],
                    ["Olamide", "Tope", "Male", 20, "Arts", "Ogun", "Christianity", "English", 4.3, "Very Good"],
                    ["Priscilla", "Love", "Female", 22, "Commercial", "Lagos", "Christianity", "Accounting", 3.3, "Good"]
                   ],
                   
                columns=["First_name", "Last_name", "Gender", "Age", "Department", "State_of_origin", 
                         "Religion", "Fav_subject", "Grade", "Remark"])

Students_record1

,First_name,Last_name,Gender,Age,Department,State_of_origin,Religion,Fav_subject,Grade,Remark
0,Glory,Odeyemi,Female,20,Science,Ekiti,Christianity,Mathematics,4.8,Excellent
1,Blessing,Tony,Female,22,Arts,Lagos,Christianity,Literature,3.5,Good
2,Victoria,Yale,Female,24,Science,Adamawa,Christianity,Physics,4.0,Very Good
3,Ibrahim,Babatunde,Male,21,Commercial,Ondo,Islamic,Accounting,3.0,Good
4,Liberty,John,Male,18,Science,Edo,Christianity,Chemistry,4.9,Excellent
5,Genevieve,Tony,Female,20,Commercial,Lagos,Christianity,Commerce,4.8,Excellent
6,Tolu,Ogunbanjo,Male,20,Arts,Ogun,Islamic,CRS,2.8,Good
7,Ayomide,Adejola,Male,20,Science,Ogun,Christianity,Computer,4.4,Very Good
8,Pelumi,Ajuwon,Female,21,Science,Oyo,Christianity,English,4.3,Very Good
9,Timileyin,Owoseni,Female,21,Science,Ondo,Christianity,Biology,3.8,Very Good
10,Shalom,Ogunsola,Male,20,Science,Oyo,Christianity,Computer,2.8,Good
11,Herodion,Momoh,Male,20,Science,Delta,Christianity,Computer,4.0,Very Good
12,Praise,Oluwafemi,Female,22,Arts,Ekiti,Islamic,Literature,2.2,Fair
13,Bolu,Prince,Male,23,Commercial,Osun,Christianity,Commerce,1.8,Poor
14,Fortune,Lawrence,Female,20,Arts,Abia,Christianity,History,2.7,Good
15,Happiness,Charles,Female,22,Commercial,Akwa-Ibom,Christianity,Government,3.3,Good
16,Tosin,Fashina,Male,20,Science,Osun,Islamic,Mathematics,3.6,Very Good
17,Janet,Francis,Female,24,Arts,Jos,Islamic,Government,4.5,Very Good
18,Olamide,Tope,Male,20,Arts,Ogun,Christianity,English,4.3,Very Good
19,Priscilla,Love,Female,22,Commercial,Lagos,Christianity,Accounting,3.3,Good

In [9]:
#Creating DataFrame using Dictionary
data = {
                    'First_name': ["Glory", "Blessing", "Victoria", "Ibrahim", "Liberty", "Genevieve", "Tolu", "Ayomide", "Pelumi",
                                  "Timileyin", "Shalom", "Herodion", "Praise", "Bolu", "Fortune", "Happiness", "Tosin", "Janet", 
                                   "Olamide", "Priscilla"],
                    'Last_name': ["Odeyemi","Tony", "Yale", "Babatunde", "John", "Tony", "Ogunbanjo", "Adejola", "Ajuwon", "Owoseni", 
                                  "Ogunsola", "Momoh", "Oluwafemi", "Prince", "Lawrence", "Charles", "Fashina", "Francis", "Tope", "Love"],
                    'Gender': ["Female", "Female", "Female", "Male", "Male", "Female", "Male", "Male", "Female", "Female",
                               "Male", "Male", "Female", "Male", "Female", "Female", "Male", "Female", "Male", "Female"],
                    'Age': [20, 22, 24, 21, 18, 20, 20, 20, 21, 21, 20, 20, 22, 23, 20, 22, 20, 24, 20, 22],
                    'Department': ["Science", "Arts", "Science", "Commercial", "Science", "Commercial", "Arts", "Science", "Science",
                                   "Science", "Science", "Science", "Arts", "Commercial", "Arts", "Commercial", "Science", "Arts", 
                                   "Arts", "Commercial"],
                    'State_of_origin': ["Ekiti", "Lagos", "Adamawa", "Ondo", "Edo", "Lagos", "Ogun", "Ogun", "Oyo", "Ondo",  
                                        "Oyo", "Delta", "Ekiti", "Osun", "Abia", "Akwa-Ibom", "Osun", "Jos", "Ogun", "Lagos"],
                    'Religion': ["Christianity", "Christianity", "Christianity","Islamic", "Christianity", "Christianity", "Islamic",
                                 "Christianity", "Christianity", "Christianity", "Christianity","Christianity", "Islamic", "Christianity",
                                 "Christianity", "Christianity", "Islamic", "Islamic", "Christianity", "Christianity"],
                    'Fav_subject': ["Mathematics", "Literature", "Physics", "Accounting", "Chemistry", "Commerce", "CRS", "Computer", 
                                    "English", "Biology", "Computer", "Computer", "Literature", "Commerce", "History", "Government",
                                    "Mathematics", "Government","English", "Accounting"],
                    'Grade': [4.8, 3.5, 4.0, 3.0, 4.9, 4.8, 2.8, 4.4, 4.3, 3.8, 2.8, 4.0, 2.2, 1.8, 2.7, 3.3, 3.6, 4.5, 4.3, 3.3],
                    'Remark': ["Excellent", "Good", "Very Good", "Good", "Excellent", "Excellent", "Good", "Very Good", "Very Good", "Very Good",
                               "Good", "Very Good", "Fair", "Poor", "Good", "Good", "Very Good", "Very Good", "Very Good", "Good"]
                    }

Students_record2 = pd.DataFrame(data)
Students_record2

,First_name,Last_name,Gender,Age,Department,State_of_origin,Religion,Fav_subject,Grade,Remark
0,Glory,Odeyemi,Female,20,Science,Ekiti,Christianity,Mathematics,4.8,Excellent
1,Blessing,Tony,Female,22,Arts,Lagos,Christianity,Literature,3.5,Good
2,Victoria,Yale,Female,24,Science,Adamawa,Christianity,Physics,4.0,Very Good
3,Ibrahim,Babatunde,Male,21,Commercial,Ondo,Islamic,Accounting,3.0,Good
4,Liberty,John,Male,18,Science,Edo,Christianity,Chemistry,4.9,Excellent
5,Genevieve,Tony,Female,20,Commercial,Lagos,Christianity,Commerce,4.8,Excellent
6,Tolu,Ogunbanjo,Male,20,Arts,Ogun,Islamic,CRS,2.8,Good
7,Ayomide,Adejola,Male,20,Science,Ogun,Christianity,Computer,4.4,Very Good
8,Pelumi,Ajuwon,Female,21,Science,Oyo,Christianity,English,4.3,Very Good
9,Timileyin,Owoseni,Female,21,Science,Ondo,Christianity,Biology,3.8,Very Good
10,Shalom,Ogunsola,Male,20,Science,Oyo,Christianity,Computer,2.8,Good
11,Herodion,Momoh,Male,20,Science,Delta,Christianity,Computer,4.0,Very Good
12,Praise,Oluwafemi,Female,22,Arts,Ekiti,Islamic,Literature,2.2,Fair
13,Bolu,Prince,Male,23,Commercial,Osun,Christianity,Commerce,1.8,Poor
14,Fortune,Lawrence,Female,20,Arts,Abia,Christianity,History,2.7,Good
15,Happiness,Charles,Female,22,Commercial,Akwa-Ibom,Christianity,Government,3.3,Good
16,Tosin,Fashina,Male,20,Science,Osun,Islamic,Mathematics,3.6,Very Good
17,Janet,Francis,Female,24,Arts,Jos,Islamic,Government,4.5,Very Good
18,Olamide,Tope,Male,20,Arts,Ogun,Christianity,English,4.3,Very Good
19,Priscilla,Love,Female,22,Commercial,Lagos,Christianity,Accounting,3.3,Good

#### Question 2. Show a summary of your dataframe with column names, non null count and dtypes for the columns

In [13]:
Students_record2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
First_name         20 non-null object
Last_name          20 non-null object
Gender             20 non-null object
Age                20 non-null int64
Department         20 non-null object
State_of_origin    20 non-null object
Religion           20 non-null object
Fav_subject        20 non-null object
Grade              20 non-null float64
Remark             20 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.6+ KB

#### Question 3. Again show a summary of your dataframe, this time, showing the mean, count, standard deviation, minimum number etc for all the numerical columns

In [14]:
Students_record1.describe()

             Age      Grade
count  20.000000  20.000000
mean   21.000000   3.640000
std     1.521772   0.893485
min    18.000000   1.800000
25%    20.000000   2.950000
50%    20.500000   3.700000
75%    22.000000   4.325000
max    24.000000   4.900000

#### Question 4. Show the number of unique values in all the columns in your dataframe

In [15]:
Students_record1.nunique()

First_name         20
Last_name          19
Gender              2
Age                 6
Department          3
State_of_origin    12
Religion            2
Fav_subject        12
Grade              15
Remark              5
dtype: int64